/*
Code Beispiele im Kontext des Moduls Medienprojekt.
Stylesheet für allgemeine Stile der Code Beispiele.
Version: 1.0.3
*/

/*--------------------------
RESET
---------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

/*--------------------------
LAYOUT
---------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin-bottom: 1rem;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
}

main {
  min-height: 68vh;
}

footer.main-footer {
  min-height: 21vh;
}

aside.section-sidebar {
  padding: 1rem;
}

/*--------------------------
TYPOGRAPHY
---------------------------*/

/* 
Inter Font-Family von Rasmus Andersson mit Fallback und Variable Font Support.
https://rsms.me/inter/ 
*/
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/**-----
Type Sizes & Spaces
-----**/

body {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 300;
}

footer,
.sidebar,
.card p {
  font-size: 0.8em;
}

/**-----
Type Weights
-----**/

.main-nav > ul > li > a {
  font-weight: 600;
}

/*--------------------------
COLOR & STYLE
---------------------------*/

/**-----
Color Vars
-----**/

:root {
  --color-primary: hsl(199, 55%, 13%);
  --color-secondary: hsl(199, 21%, 42%);
  --color-accent-100: hsl(34, 97%, 55%);
  --color-accent-210: hsl(89, 21%, 89%);
  --color-accent-250: hsl(89, 76%, 55%);
  --color-accent-290: hsl(89, 97%, 21%);
  --color-grey-cool-100: hsl(199, 21%, 97%);
  --color-grey-cool-500: hsl(199, 21%, 76%);
  --color-grey-cool-900: hsl(199, 55%, 13%);

  /*Color Tokens*/
  --color-background-btn: var(--color-accent-290);
  --color-text-btn: var(--color-accent-250);
  --color-border-btn: var(--color-accent-250);
}

/**-----
Color Backgrounds
-----**/

header.main-header {
  background: hsla(199, 21%, 42%, 1);
}

aside.section-sidebar {
  background: hsla(199, 21%, 76%, 1);
}

footer.main-footer {
  background: hsla(199, 55%, 13%, 1);
}

/**-----
Color Type
-----**/

body {
  color: hsl(199, 55%, 13%);
}

header.main-header,
footer.main-footer {
  color: hsl(199, 3%, 97%);
}

a:hover,
a:focus,
a:active {
  color: hsl(34, 97%, 55%);
}

/**-----
Style Corners
-----**/
.sidebar,
.card {
  border-radius: 0.5rem;
}

/*--------------------------
COMPONENTS
---------------------------*/

/**-----
Comp Btn 
-----**/

a.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border-btn);
  border-radius: 2em;
  background: var(--color-background-btn);
  color: var(--color-text-btn);
  font-weight: 600;
  text-align: center;
  transition:
    background 0.3s,
    color 0.3s;
}

/**-----
Comp Card 
-----**/

.card {
  border: 1px solid hsl(199, 55%, 13%);
  padding: 1rem;
  padding-bottom: 0;
  background: hsl(199, 21%, 97%);
}

.card h3 {
  min-height: 3em;
}

.card p:nth-last-child(2) {
  min-height: 10em;
}

.card p:nth-last-child(3) {
  position: relative;
  min-height: 3em;
}

.card p:nth-last-child(3) > .btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

/**-----
Comp Card Grid
-----**/

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

/*--------------------------
RESPONSIVE
Breakpoints:
580px
60rem
75rem
---------------------------*/

/* Tablet Portrait: 580px und größer */
@media (min-width: 580px) {
  /**-----
  Comp Card Grid - 2 spaltig
  -----**/
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 1rem;
  }
}

/* Desktop Small: 60rem und größer */
@media (min-width: 60rem) {
  /**-----
 Layout Sidebar Flex
 -----**/
  .layout-sidebar-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .layout-sidebar-flex > h2 {
    width: 100%;
  }

  .layout-sidebar-flex .section-main {
    width: 70%;
  }
  .layout-sidebar-flex .section-sidebar {
    width: 30%;
  }

  /**-----
Comp Nav Bar Grid
-----**/

  nav.navbar-grid > ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1rem;
    justify-content: start;
  }

  /**-----
Comp Card Grid - 3 spaltig
-----**/
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop Large: 75rem und größer */
@media (min-width: 75rem) {
}
